<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>헬수첩 - 병원 의사 검색</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/search/searchStyle.css}" />
</head>
<body>
<div class="wrapper">
    <div class="search-type-wrapper">
        <a href="#" th:classappend="${searchType == 'hospitals'} ? 'active' : ''" onclick="selectSearchType('hospitals'); return false;"  class="search-type-text">병원</a>
        <a href="#" th:classappend="${searchType == 'doctors'} ? 'active' : ''" onclick="selectSearchType('doctors'); return false;"  class="search-type-text">의사</a>
    </div>

    <div class="category-wrapper">
        <a href="#" th:classappend="${department == '내과'} ? 'active' : ''" onclick="selectCategory('내과'); return false;" class="category-text">내과</a>
        <a href="#" th:classappend="${department == '정형외과'} ? 'active' : ''" onclick="selectCategory('정형외과'); return false;" class="category-text">정형외과</a>
        <a href="#" th:classappend="${department == '이비인후과'} ? 'active' : ''" onclick="selectCategory('이비인후과'); return false;" class="category-text">이비인후과</a>
        <a href="#" th:classappend="${department == '외과'} ? 'active' : ''" onclick="selectCategory('외과'); return false;" class="category-text">외과</a>
        <a href="#" th:classappend="${department == '소아과'} ? 'active' : ''" onclick="selectCategory('소아과'); return false;" class="category-text">소아과</a>
        <a href="#" th:classappend="${department == '산부인과'} ? 'active' : ''" onclick="selectCategory('산부인과'); return false;" class="category-text">산부인과</a>
        <a href="#" th:classappend="${department == '안과'} ? 'active' : ''" onclick="selectCategory('안과'); return false;" class="category-text">안과</a>
    </div>

    <div class="input">
        <form method="GET" class="search-form" th:action="@{/search}">
            <input class="input-text" placeholder="이름을 입력하세요" type="text" name="name" th:value="${name}" />
            <input type="hidden" id="department" name="department" th:value="${department}" />
            <input type="hidden" id="searchType" name="searchType" th:value="${searchType}" />
            <input type="image" class="search-icon" src="/images/searchicon.svg" alt="Search" onclick="document.querySelector('.search-form').submit(); return false;" />
        </form>
    </div>

    <div class="result-wrapper">
        <ul class="results-list">
            <li th:each="result : ${results}" class="result-item">
                <a th:if="${searchType == 'hospitals'}" th:href="'/hospital/' + ${result.hospitalId}" class="result-link">
                    <div class="result-content">
                        <div class="result-info">
                            <div class="result-name" th:text="${result.name}">이름</div>
                            <div class="location-wrapper">
                                <input type="image" class="location-icon" src="/images/location.svg" alt="위치" />
                                <div class="result-address" th:text="${result.address}">주소</div>
                            </div>
                        </div>
                        <div class="result-extra">
                            <img src="/images/example.svg" alt="사진" class="result-icon">
                        </div>
                    </div>
                </a>

                <a th:if="${searchType == 'doctors'}" th:href="'/doctor/' + ${result.doctorId}" class="result-link">
                    <div class="result-content2">
                        <div class="doctor-img">
                            <img src="/images/example.svg" alt="사진" class="result-icon">
                        </div>

                        <div class="result-info2">
                            <div class="result-name2" th:text="${result.name}">의사 이름</div>
                            <div class="result-hospital" th:text="${result.hospitalName}">병원 이름</div>
                        </div>

                        <div class="location-wrapper2">
                            <input type="image" class="location-icon" src="/images/location.svg" alt="위치" />
                            <div class="result-address" th:text="${result.hospitalAddress}">주소</div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    function selectCategory(department) {
        document.getElementById('department').value = department;
        document.querySelector('.search-form').submit();
    }

    function selectSearchType(type) {
        document.getElementById('searchType').value = type;
        document.querySelector('.search-form').submit();
    }
</script>
</body>
</html>
