.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.search-type-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-type-text {
    display: block;
    width: 418px;
    height: 49px;

    font-size: 24px;
    font-weight: 600;
    line-height: 47px;
    text-align: center;

    color: rgba(255, 255, 255, 0.90);
    background: #C0C0C0;
    margin: 0 5px;
    cursor: pointer;

    border-radius: 5px;
}

.search-type-text.active, .search-type-text:hover {
    background-color: #00BFFF;
    color: rgba(255, 255, 255, 0.90);
}

.category-text {
    display: block;
    width: 120px;
    height: 40px;

    text-align: center;
    align-content: center;

    font-size: 21px;
    font-style: normal;
    font-weight: 600;

    cursor: pointer;
    border: 1px solid #0073CF;
    border-radius: 30px;
    color: #0073CF;
}

.category-text.active, .category-text:hover {
    background-color: #0073CF;
    color: #FFFFFF;
}

.input {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    border-radius: 13px;
    width: 800px;
    background: rgba(175, 219, 245, 0.30);
    border: 1px solid rgba(0, 115, 207, 0.90);
    margin: 25px auto;
}

.input-text {
    width: 700px;
    padding: 10px 40px 10px 10px;
    font-size: 19px;
    background: none;
    border: none;
    outline: none;
}

.input-name{

}
.search-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.location-icon{
    width: 20px;
    height: 30px;
    flex-shrink: 0;
    margin-right: 5px;
}

.category-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
    max-width: 1000px;
    margin: 0 auto;
}





.result-wrapper{
    display: flex;
    justify-content: center;
}

.results-list {
    list-style-type: none;
    padding: 0;
}

.result-item {
    width: 800px;
    margin-bottom: 15px;
    background: #AFDBF5;
    border-radius: 13px;
    border: 1px solid rgba(0, 115, 207, 0.90);
    padding: 5px;
}

.result-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: space-between;
}

.result-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
}

.result-content2 {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;

    gap:25px;
}

.result-info {
    display: flex;
    flex-direction: column;
}

.result-info2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.location-wrapper{
    display: flex;
}

.location-wrapper2{
    display: flex;
    margin-left: 300px;
}

.result-name {
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin: 0 0 10px 23px;
}

.result-name2 {
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.result-hospital {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.result-address {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.result-extra {
    display: flex;
    align-items: center;
}

.result-icon {
    width: 50px;
    height: 50px;
}

.doctor-img{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}