
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AFDBF5;
    height: 100vh; 
    margin: 0;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.title span{
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* ���� */
h1 {
    text-align: center;
    color: #808080;
}

.login-container {
    width: 300px;
    margin-top: 20px;
    margin: 0 auto;
    padding: 60px;
    background-color: #FFF;
    padding-top: 50px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* �Է� �ʵ� */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: calc(100% - 16px);
    padding: 8px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1); 
    background-color: #fff; 
    margin-top: 5px;
}

/* �α��� ��ư */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #0073CF;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.register-link {
            margin-left: auto;
        }
        