.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #AFDBF5;
    padding-top: 50px;
}


/* 제목 */
.login-container h1 {
    text-align: center;
    color: #FFFFFF;
}

/* 입력 필드 */
.form-group {
    margin-bottom: 13px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
}

/* 로그인 버튼 */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #0073CF;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}