body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    height: 100vh; 
}

.register-container {
    width: 100%; 
    max-width: 800px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; 
    margin: auto; 
    
  
}

.register-container-inner {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(175, 219, 245, 0.30);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group select {
    width: calc(100% - 20px); 
    padding: 10px;
    border: 1.5px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margidn-bottom: 10px;
}


button[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #0073CF;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

