.topRectangle{
    position: absolute;
    width: 956px;
    height: 95px;
    background: #AFDBF5;
}

.blueRectangle{
    position: absolute;
    width: 418px;
    height: 49px;
    background: #00BFFF;
    border-radius: 10px;
}

.greyRectangle{
    position: absolute;
    width: 418px;
    height: 49px;
    background: #C0C0C0;
    border-radius: 10px;
}

.vaccineFont{
    position: absolute;
    width: 148px;
    height: 41px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;

    color: rgba(255, 255, 255, 0.9);
}

.group-6 {position: absolute;width: 940px;height: 435px;left: 54px;top: 292px;
}



.date {position: absolute;width: 37px;height: 23px;left: 91px;top: 242px;font-family: 'Inter';font-style: normal;font-weight: 700;font-size: 20px;line-height: 24px;color: rgba(255, 255, 255, 0.9);
}

.name1, .details1 {position: absolute;width: 112px;height: 18px;font-family: 'Inter';font-style: normal;font-weight: 700;font-size: 15px;line-height: 18px;color: rgba(0, 0, 0, 0.9);
}

.name1 {left: 182px;top: 318px;
}

.details1 {left: 699px;top: 318px;
}




