<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>헬수첩 - 리뷰 작성</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/hospital/reviewFormStyle.css}" />
</head>
<body>
<div class="wrapper">

    <form action="/review/submit" method="post" enctype="multipart/form-data">
        <div class="hospital-info">
            <img th:src="@{/images/example.svg}" alt="Hospital Image" id="hospitalImage">
            <input type="file" id="imageUpload" name="imageUpload" accept="image/*" onchange="loadFile(event)">
        </div>
        <input type="hidden" name="hospitalId" th:value="${hospitalId}" />
        <div class="rating">
            <label for="rating"></label>
            <select id="rating" name="rating" required>
                <option value="5">★★★★★</option>
                <option value="4">★★★★☆</option>
                <option value="3">★★★☆☆</option>
                <option value="2">★★☆☆☆</option>
                <option value="1">★☆☆☆☆</option>
            </select>
        </div>
        <div class="review-text">
            <label for="comments"></label>
            <textarea id="comments" name="comments" rows="5" placeholder="리뷰 내용을 입력하세요" required></textarea>
        </div>
        <button type="submit">리뷰 쓰기</button>
    </form>
</div>
<script>
    function loadFile(event) {
        const output = document.getElementById('hospitalImage');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    }
</script>
</body>
</html>