<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>진료 기록 조회</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/records/records.css}">
</head>
<body>
	<header>
    <h1>진료 기록 조회</h1>
    </header>
    <table>
        <thead>
            <tr>
            	<!-- <th>번호</th> -->
                <th>병원(약국)명</th>
                <th>진료개시일</th>
                <th>증상기록</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="record : ${medicalRecords}">
            	<!-- <td th:text="${iterStat.index + 1}">번호</td> -->
                <td th:text="${record.hospitalName}">병원(약국)명</td>
                <td th:text="${#dates.format(record.medDate, 'yyyy-MM-dd')}">진료개시일</td>
                <td th:text="${record.medContext}">증상 기록</td>
            </tr>
             
            <tr th:if="${#lists.isEmpty(medicalRecords)}">
                <td colspan="4">조회된 진료 기록이 없습니다.</td>
            </tr>
             
            
        </tbody>
    </table>
</body>
</html>
