<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/vaccine/vaccine.css}">
</head>
<body>
<div class="topRectangle">dd</div>
<form action="/vaccination/create" method="post">
    <input type="hidden" name="userId" th:value="${userId}" />
    <div class="form-group">
        <label for="inoculation_name" class="">백신 이름</label>
        <input type="text" id="inoculation_name" name="inoculation_name" required>
    </div>
    <div class="form-group">
        <label for="total_doses">총 접종 횟수</label>
        <input type="number" id="total_doses" name="total_doses" required>
    </div>
    <button class="blueButton" type="submit"><span class="buttonFont">작성하기</span></button>
</form>
</body>
</html>