body {
    display: flex;
    background: #AFDBF5;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    width: 1200px;
    padding: 20px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.title span{
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 60px;
    width: 100%;

    margin-top: 80px;
}

.grid-item {
    background: rgba(255, 255, 255, 0.40);
    border-radius: 10px;
    padding: 50px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.grid-item img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.grid-item a {
    text-decoration: none;
    color: inherit;
}

p{
    color: #040212;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
}
.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffff; 
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}