<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>헬수첩 - 의사 상세 조회</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/doctor/detailStyle.css}" />
</head>
<body>
<div class="wrapper">
    <div class="doctor-detail">
        <div class="info">
            <h2 th:text="${doctor.name}">의사 이름</h2>
            <div class="text-wrapper">
                <div class="info-text">
                    근무 병원명
                    <div class="info-detail" th:text="${doctor.hospitalName}"></div>
                </div>

                <div class="info-text">
                    병원 주소
                    <div class="info-detail" th:text="${doctor.hospitalAddress}"></div>
                </div>

                <div class="info-text">
                    과
                    <div class="info-detail" th:text="${doctor.department}"></div>
                </div>

                <div class="info-text">
                    전 근무지
                    <div class="info-detail" th:text="${doctor.formerHospital}"></div>
                </div>

                <div class="info-text">
                    이메일
                    <div class="info-detail" th:text="${doctor.email}"></div>
                </div>

                <div class="info-text">
                    전화번호
                    <div class="info-detail" th:text="${doctor.phone}"></div>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
</html>
