<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/doctor/medRecordList.css}">
    <title>환자 기록</title>
    <script>
      function vaccinationClick() {
          window.location.href = '/vaccination/form';
          }
    </script>
  </head>
  <body>
  <div class="container">
    <a th:href="@{/user/doctorMain}">
      <div class="title">HealthNote</div>
    </a>
      <h1>진료 기록</h1>
      <div class="buttons">
        <button onclick="vaccinationClick()">접종내역 보기</button>
        <button>진료기록 보기</button>
      </div>
      <table>
        <thead>
        <tr>
          <th>일자</th>
          <th>환자명</th>
          <th>주민등록번호</th>
          <th>연락처</th>
          <th>진료내역</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record : ${medRecList}">
          <td th:text="${#dates.format(record.medDate, 'yyyy-MM-dd')}"></td>
          <td th:text="${record.patient}"></td>
          <td th:text="${record.personal_code}"></td>
          <td th:text="${record.phone}"></td>
          <td th:text="${record.medContext}"></td>
        </tr>
        </tbody>
      </table>
      <div class="buttons">
        <button class="med-record-btn" onclick="window.location.href='/newMedRec'">진료 기록 작성</button>
      </div>
    </div>
  </body>
</html>
