body, h1, h2, h3, p, ul, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.wrapper {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.hospital-name{
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    margin-bottom: 20px;
}

.photo {
    text-align: center;
    margin-bottom: 20px;
}

.photo img {
    width: 400px;
    height: auto;
}

.tab-content {
    background: rgba(175, 219, 245, 0.70);
    padding: 40px;
    border-radius: 13px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.tab {
    width: 150px;
    padding: 10px;
    background: #F2F3F6;
    border-radius: 30px;
    color: #0073CF;

    font-size: 20px;
    text-align: center;

    cursor: pointer;
}

.tab.active {
    background-color: #0073CF;
    color: #FFF;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-text{
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.info-detail{
    max-width: 1075px;
    padding: 15px;
    border-radius: 13px;
    border: 1px solid rgba(0, 115, 207, 0.90);
    background: #FFF;

    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 5px;
}

.time-entry {
    display: flex;
    align-items: center;
    gap: 20px;
}

.time-entry span {
    flex: 0 0 80px;
}

.doctor-list {
    list-style-type: none;
    padding: 0;
}

.doctor-card {
    display: flex;
    align-items: center;
    background: #FFF;
    padding: 10px;
    border-radius: 13px;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 115, 207, 0.90);
}

.doctor-img {
    flex: 0 0 50px;
    margin-right: 10px;
}

.doctor-img img {
    width: 123px;
    height: 90px;
}

.doctor-info span{
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.doctor-name {
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.doctor-dept{
    margin-top: 10px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.review-icon {
    width: 60px;
    height: 65px;
    cursor: pointer;
    vertical-align: middle;
}

.review-list {
    list-style: none;
    padding: 0;
}

.review-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    align-items: flex-start;
}

.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 40px;
}

.review-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.review-img {
    width: 208px;
    height: 160px;
    margin-right: 20px;
}

.review-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.review-info {
}

.review-username {
    font-weight: bold;
    font-size: 20px;
}

.review-rating {
    font-size: 30px;
    color: #ffc107;
}

.review-date {
    font-size: 14px;
    color: #888;
}

.review-content{
    margin-top : 30px;
}

.review-edit {
    display: flex;
    align-items: center;
    margin-left: auto;
}


.edit-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}