<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sosigae.LuckeyTurkey.dao.mybatis.mapper.DoctorMapper">

        <cache />

        <!-- 의사가 특정 환자 백신 접종 현황 확인 -->
        <select id="getVacRecordByUser" resultType="com.sosigae.LuckeyTurkey.domain.VaccinationRecord">
            SELECT * FROM VaccinationRecord WHERE user_id = #{user_id}
        </select>

        <!-- 의사가 특정 환자 약물 복용기록 확인 -->
        <select id="getMedByUser" resultType="com.sosigae.LuckeyTurkey.domain.Medication">
            SELECT * FROM Medication WHERE user_id = #{user_id}
        </select>

        <!-- 의사가 특정 환자 진료 기록 추가 -->
        <insert id="addMedRecord">
            INSERT INTO MedicalRecord (doctor_id, user_id, medContext, medDate, personal_code, phone, patient, hospital_id)
            VALUES (#{doctorId}, #{userId}, #{medContext}, #{medDate}, #{personal_code}, #{phone}, #{patient}, #{hospitalId})
        </insert>

        <!-- 의사가 본인이 진료한 모든 환자 진료 기록 확인 -->
        <select id="getMedRecordList" resultType="com.sosigae.LuckeyTurkey.domain.MedicalRecord">
            SELECT * FROM MedicalRecord WHERE doctor_id = #{doctor_id}
        </select>

        <!-- 의사가 특정 환자 진료 기록 수정 -->
        <update id="updateMedRecord">
            UPDATE MedicalRecord SET content = #{content}
            WHERE doctor_id = #{doctor_id}
              AND user_id = #{user_id}
        </update>

<!--    의사 검색 -->
    <select id="searchDoctors" resultType="com.sosigae.LuckeyTurkey.domain.Doctor">
        SELECT * FROM Doctor
        WHERE (#{name} IS NULL OR name LIKE CONCAT('%', #{name}, '%'))
          AND (#{department} IS NULL OR department = #{department})
    </select>

    <select id="searchDoctorsByNameAndDepartment" resultType="com.sosigae.LuckeyTurkey.domain.Doctor">
        SELECT d.doctor_id AS doctorId, d.hospital_id AS hospitalId, d.id, d.password, d.name, d.department,
               d.is_admin AS isAdmin, d.former_hospital AS formerHospital, d.email, d.phone,
               h.name AS hospitalName, h.address AS hospitalAddress
        FROM Doctor d
                 JOIN Hospital h ON d.hospital_id = h.hospital_id
        WHERE d.name LIKE '%' || #{name, jdbcType=VARCHAR} || '%'
          AND d.department = #{department, jdbcType=VARCHAR}
    </select>

    <select id="searchDoctorsByName" resultType="com.sosigae.LuckeyTurkey.domain.Doctor">
        SELECT d.doctor_id AS doctorId, d.hospital_id AS hospitalId, d.id, d.password, d.name, d.department,
               d.is_admin AS isAdmin, d.former_hospital AS formerHospital, d.email, d.phone,
               h.name AS hospitalName, h.address AS hospitalAddress
        FROM Doctor d
                 JOIN Hospital h ON d.hospital_id = h.hospital_id
        WHERE d.name LIKE '%' || #{name, jdbcType=VARCHAR} || '%'
    </select>

    <!-- 의사 이름으로 검색 -->
    <select id="findDoctorsByDoctorName" resultType="com.sosigae.LuckeyTurkey.domain.Doctor">
        SELECT d.*, h.name AS hospitalName, h.address AS hospitalAddress
        FROM Doctor d
                 JOIN Hospital h ON d.hospital_id = h.hospital_id
        WHERE d.name = #{doctorName}
    </select>

    <select id="findDoctorsByName" resultType="com.sosigae.LuckeyTurkey.domain.Doctor">
        SELECT * FROM Doctor
        WHERE name LIKE '%' || #{name, jdbcType=VARCHAR} || '%'
    </select>

    <select id="searchDoctorsByDepartment" resultType="com.sosigae.LuckeyTurkey.domain.Doctor">
        SELECT d.doctor_id AS doctorId, d.hospital_id AS hospitalId, d.id, d.password, d.name, d.department,
               d.is_admin AS isAdmin, d.former_hospital AS formerHospital, d.email, d.phone,
               h.name AS hospitalName, h.address AS hospitalAddress
        FROM Doctor d
                 JOIN Hospital h ON d.hospital_id = h.hospital_id
        WHERE d.department = #{department, jdbcType=VARCHAR}
    </select>

<!--    전체 의사 목록 -->
    <select id="getAllDoctors" resultMap="DoctorResultMap">
        SELECT d.*, h.name AS hospitalName, h.address AS hospitalAddress
        FROM Doctor d
                 JOIN Hospital h ON d.hospital_id = h.hospital_id
    </select>

    <!-- 특정 의사 정보 확인 (병원 정보까지) -->
    <select id="getDocInfo" resultMap="DoctorResultMap">
        SELECT d.*, h.name AS hospitalName, h.address AS hospitalAddress, f.name AS formerHospital
        FROM Doctor d
                 JOIN Hospital h ON d.hospital_id = h.hospital_id
                 LEFT JOIN Hospital f ON d.former_hospital = f.hospital_id
        WHERE d.doctor_id = #{doctor_id}
    </select>



    <resultMap id="DoctorResultMap" type="com.sosigae.LuckeyTurkey.domain.Doctor">
        <id property="doctorId" column="doctor_id"/>
        <result property="hospitalId" column="hospital_id"/>
        <result property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="department" column="department"/>
        <result property="isAdmin" column="is_admin"/>
        <result property="formerHospital" column="formerHospital"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="hospitalName" column="hospitalName"/>
        <result property="hospitalAddress" column="hospitalAddress"/>
    </resultMap>
    </mapper>