<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sosigae.LuckeyTurkey.dao.mybatis.mapper.HospitalMapper">

  <cache />

  <resultMap id="HospitalResultMap" type="com.sosigae.LuckeyTurkey.domain.Hospital">
    <id property="hospitalId" column="hospital_id"/>
    <result property="id" column="id"/>
    <result property="password" column="password"/>
    <result property="name" column="name"/>
    <result property="address" column="address"/>
    <result property="openTime" column="open_time"/>
    <result property="closeTime" column="close_time"/>
    <result property="satOpenTime" column="sat_open_time"/>
    <result property="satCloseTime" column="sat_close_time"/>
    <result property="email" column="email"/>
    <result property="phone" column="phone"/>
    <result property="department" column="department"/>
  </resultMap>


  <!-- 병원 정보 추가 -->
  <insert id="addHospitalInfo">
    INSERT INTO Hospital (hospital_id, name, address, open_time, close_time, sat_open_time, sat_close_time)
    VALUES (#{hospital_id}, #{name}, #{address}, #{open_time}, #{close_time}, #{sat_open_time}, #{sat_close_time})
  </insert>

  <!-- 병원 정보 확인 -->
  <select id="getHospitalInfo" resultMap="HospitalResultMap">
    SELECT * FROM Hospital WHERE hospital_id = #{hospital_id}
  </select>



  <!--  병원 검색 -->
  <select id="searchHospitalsByNameAndDepartment" resultMap="HospitalResultMap">
    SELECT * FROM Hospital
    WHERE name LIKE '%' || #{name, jdbcType=VARCHAR} || '%'
      AND department = #{department, jdbcType=VARCHAR}
  </select>

  <!--  병원 검색 -->
  <select id="searchHospitalsByName" resultMap="HospitalResultMap">
    SELECT * FROM Hospital
    WHERE name LIKE '%' || #{name, jdbcType=VARCHAR} || '%'
  </select>
  <!--  병원 검색 -->
  <select id="searchHospitalsByDepartment" resultMap="HospitalResultMap">
    SELECT * FROM Hospital
    WHERE department = #{department, jdbcType=VARCHAR}
  </select>


  <!-- 병원 정보 수정 -->
  <update id="updateHospitalInfo">
    UPDATE Hospital
    SET name = #{name}, address = #{address}, open_time = #{open_time}, close_time = #{close_time}, sat_open_time = #{sat_open_time}, sat_close_time = #{sat_close_time}
    WHERE hospital_id = #{hospital_id}
  </update>

  <!-- 해당 병원에서 근무하는 의사 정보 추가 -->
  <insert id="addDocInfo">
    INSERT INTO Doctor (doctor_id, id, password, hospital_id, name, department, is_admin, former_hospital, email, phone)
    VALUES (#{doctor_id}, #{id}, #{password}, #{hospital_id}, #{name}, #{department}, #{is_admin}, #{hospital_id}, #{email}, #{phone})
  </insert>

  <!-- 해당 병원에서 근무하는 모든 의사들 정보 확인 -->
  <select id="getDocInfoList" resultType="com.sosigae.LuckeyTurkey.domain.Doctor">
    SELECT * FROM Doctor WHERE hospital_id = #{hospital_id}
  </select>



  <!-- 해당 병원에서 근무하는 특정 의사 정보 수정 -->
  <update id="updateDocInfo">
    UPDATE Doctor
    SET name = #{name}, department = #{department}, former_hospital = #{hospital_id}, email = #{email}, phone = #{phone}
    WHERE doctor_id = #{doctor_id}
  </update>

  <!-- 해당 병원에서 근무하는 특정 의사 정보 삭제 -->
  <delete id="deleteDocInfo">
    UPDATE Doctor
    SET hospital_id = #{hospital_id}
    WHERE doctor_id = #{doctor_id}
  </delete>

  <!-- 해당 병원에서 예약 스케줄 추가 -->
  <insert id="addReservation">
    INSERT INTO Reservation (hospital_id, doctor_id, user_id, date, time)
    VALUES (#{hospital_id}, #{doctor_id}, #{user_id}, #{date}, #{time})
  </insert>

  <!-- 해당 병원에서 예약 스케줄 확인 -->
  <select id="getReservation" resultType="com.sosigae.LuckeyTurkey.domain.Reservation">
    SELECT * FROM Reservation WHERE hospital_id = #{hospital_id}
  </select>

  <!-- 해당 병원에서 예약 스케줄 수정 -->
  <update id="updateReservation">
    UPDATE Reservation SET date = #{date}, time = #{time}
    WHERE hospital_id = #{hospital_id}
	    AND doctor_id = #{doctor_id}
	    AND user_id = #{user_id}
  </update>

  <!-- 해당 병원에서 예약 스케줄 삭제 -->
  <delete id="deleteReservation">
    DELETE FROM Reservation
    WHERE hospital_id = #{hospital_id}
	    AND doctor_id = #{doctor_id}
		  AND user_id = #{user_id}
  </delete>

  <!-- 해당 병원에서 진행된 모든 진료 기록 리스트로 확인 -->
  <select id="getMedRecordList" resultType="com.sosigae.LuckeyTurkey.domain.MedicalRecord">
    SELECT * FROM MedicalRecord WHERE hospital_id = #{hospital_id}
  </select>

  <!-- 해당 병원에서 진행된 특정 진료 기록 확인 -->
  <select id="getMedRecord" resultType="com.sosigae.LuckeyTurkey.domain.MedicalRecord">
    SELECT * FROM MedicalRecord WHERE medical_record_id = #{medical_record_id}
  </select>

<!--  모든 병원 정보 -->
  <select id="getAllHospitals" resultMap="HospitalResultMap">
    SELECT * FROM Hospital
  </select>
</mapper>