<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sosigae.LuckeyTurkey.dao.mybatis.mapper.UserMapper">

  <cache />
  
 
  <!-- 사용자 로그인 -->
  <select id="loginMember" parameterType="map" resultType="com.sosigae.LuckeyTurkey.domain.User">
    SELECT * FROM USERS
    WHERE USER_ID = #{user_id} AND PASSWORD = #{password}
  </select>
  
  <!-- 사용자 회원가입 -->
  <insert id="registerMember" parameterType="com.sosigae.LuckeyTurkey.domain.User">
    INSERT INTO USERS (USER_ID, PASSWORD, NAME, EMAIL, PHONE, IS_ADMIN, PERSONAL_CODE)
    VALUES(#{user_id}, #{password}, #{name}, #{email}, #{phone}, #{is_admin}, #{personal_code})
  </insert>

  <!-- 사용자 정보 변경 -->
  <update id="updateMember">
    UPDATE USERS SET
    PASSWORD = #{password},
    NAME = #{name},
    EMAIL = #{email},
    PHONE = #{phone},
    IS_ADMIN = #{is_admin},
    PERSONAL_CODE = #{personal_code}
    WHERE USER_ID = #{user_id}
  </update>
  
  <!-- 사용자 탈퇴 -->
  <delete id="deleteMember">
    DELETE FROM USERS
    WHERE USER_ID = #{user_id}
  </delete>
  
  <!-- 사용자 유효성 검사 -->
  <select id="isValidUser" parameterType="map" resultType="int">
    SELECT COUNT(*)
    FROM USERS
    WHERE USER_ID = #{user_id} AND PASSWORD = #{password}
  </select>

</mapper>
